[user]
	email = ezillinger@gmail.com
	name = Eric Zillinger
[push]
	default = simple
[color]
	ui = auto
[alias]
	co = checkout
    smr = submodule update --recursive
    cp = cherry-pick
[core]
	editor = vim
[credential "https://github.com"]
    username = ezillinger
